.App {
  font-family: sans-serif;
  text-align: center;
  background: #222022;
  color: #efedef;
}
body {
  margin: -19px 0px;
  padding: 0px;
}

#List {
  width: 700px;
  height: 450px;
  margin: 0 20px;
  overflow: scroll;
}

.Card {
  width: 450px;
  height: 75px;
  display: flex;
  align-items: center;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
  background: #4c4749;
}

img {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  margin-left: 10px;
}

.Login {
  margin-right: 10px;
  text-decoration: underline;
}
.url {
  font-size: 10px;
  text-decoration: none;
  display: inline-block;
  color: #efedef;
  padding: 5px 10px;
  margin: 0px 10px 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #6ead3a 0%,
    #222022 51%,
    #6ead3a 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.active-page {
  background: black;
}

#search {
  margin-top: 30px;
  background: #ceccce;
  height: 50px;
  padding: 10px;
}

#settings {
  display: flex;
  justify-content: center;
  height: 50px;
  margin: 1px auto;
  align-items: center;
}

#per_page,
#change_pages {
  margin-left: 20px;
}

.non-vis {
  display: none;
}

.vis {
  display: flex;
  justify-content: center;
}

#pages {
  max-width: 445px;
  height: 50px;
  display: flex;
  overflow: auto;
  background: #b8b8b8;
  margin-bottom: 10px;
  border-radius: 10px;
}

.page {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 3px 15px;
  margin: 0px 2px 5px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #222022 0%,
    #4c4749 51%,
    #6ead3a 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.url:hover,
.url:active,
.page:hover {
  background-position: right center;
}

.active {
  background-image: linear-gradient(
    to right,
    #6ead3a 0%,
    #4c4749 51%,
    #6ead3a 100%
  );
}

button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 7px 10px;
  margin: 0px 10px 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #6ead3a 0%,
    #4c4749 51%,
    #6ead3a 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

button:hover {
  background-position: right center;
}

input {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  padding: 7px;
  margin: 0px 10px 0px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.headhead {
  padding: 20px 0 0 0;
}

select {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 7px;
  margin: 0px 10px 0px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 20px;
  height: 12px;
}
::-webkit-scrollbar-button {
  background-color: #4e4749;
}
::-webkit-scrollbar-track {
  background-color: #4e4749;
}
::-webkit-scrollbar-track-piece {
  background-color: #ceccce;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-image: linear-gradient(to top, #6ead3a 0%, #559223 100%);
  border-radius: 5px;
}
::-webkit-resizer {
  background-color: #4e4749;
}
